@page
@model JobZila.Pages.TermOfServiceModel
@{
}
<div>

    <main>
        <section id="terms-section">
            <h2>Terms of Service</h2>
            <div class="terms-listing">
                <p>
                    Please read these terms of service carefully before using our
                    website.
                </p>
                <h3>1. Acceptance of Terms</h3>
                <p>
                    By using our website, you agree to be bound by these terms of
                    service, as well as our privacy policy and any other applicable laws
                    and regulations.
                </p>
                <h3>2. Use of Content</h3>
                <p>
                    You may use the content on our website for personal and
                    non-commercial purposes only. You may not reproduce, modify,
                    distribute, or otherwise use our content without our prior written
                    consent.
                </p>
                <h3>3. User Conduct</h3>
                <p>
                    You agree not to use our website for any unlawful or harmful
                    purposes, including but not limited to sending spam, spreading
                    malware, or engaging in any illegal activities.
                </p>
                <h3>4. Disclaimer of Warranties</h3>
                <p>
                    Our website is provided on an "as is" and "as available" basis,
                    without any warranties of any kind, including but not limited to
                    warranties of accuracy, reliability, or fitness for a particular
                    purpose.
                </p>
                <h3>5. Limitation of Liability</h3>
                <p>
                    We shall not be liable for any damages arising from the use of our
                    website, including but not limited to direct, indirect, incidental,
                    consequential, or punitive damages.
                </p>
                <h3>6. Governing Law</h3>
                <p>
                    These terms of service shall be governed by and interpreted in
                    accordance with the laws of [Your Country/State/Region], without
                    regard to its conflict of laws principles.
                </p>
            </div>
        </section>
    </main>

</div>