<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobZila</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jobZila.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobZila.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Job Zila</h1>

        <nav>
            <ul>
                <li><a asp-page="/Index">Home</a></li>

                <li><a asp-page="JobSearch">Job Search</a></li>
                <li><a asp-page="/JobListing">Job Listing</a></li>
                <li>
                    <a asp-page="/TermOfService">Terms of Service</a>
                </li>
                <li><a asp-page="/Privacy">Privacy Policy</a></li>
                <li><a asp-page="ContactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>
            &copy; 2023 My Job Board. All rights reserved. |
            <a href="">Contact Us</a> | <a href="">Terms</a> |
            <a asp-page="/Privacy">Privacy</a>
        </p>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>